[submodule "chromeos_update_engine/brotli"]
	path = lib/brotli
	url = https://github.com/anonymix007/brotli
[submodule "chromeos_update_engine/bsdiff"]
	path = lib/bsdiff
	url = https://github.com/anonymix007/bsdiff
[submodule "chromeos_update_engine/bzip2"]
	path = lib/bzip2
	url = https://github.com/anonymix007/bzip2
[submodule "chromeos_update_engine/libchrome"]
	path = lib/libchrome
	url = https://github.com/anonymix007/libchrome
[submodule "chromeos_update_engine/zucchini"]
	path = lib/zucchini
	url = https://github.com/anonymix007/zucchini
[submodule "chromeos_update_engine/puffin"]
	path = lib/puffin
	url = https://android.googlesource.com/platform/external/puffin
[submodule "chromeos_update_engine/protobuf"]
	path = lib/protobuf
	url = https://github.com/protocolbuffers/protobuf
